*~
*.diff
*.patch
.DS_Store
.project
.settings
.idea
.env
composer.lock
/lib/**/docs/*
/lib/**/tests/*
/lib/**/example/*
/storage/*.*
/storage/*/*
/config/*
/tests/*
/node_modules
addons/
!.gitignore
!.gitkeep
!/storage/*/index.html
!/storage/*/.htaccess
defines.php
