#
# Apache/PHP/Cockpit settings:
#

# ----------------------------------------------------------------------
# File access
# ----------------------------------------------------------------------

# Deny access to application and system files from being viewed
<FilesMatch "(composer\.(json|lock)|package\.json|(README|CONTRIBUTING)\.md|cp|Dockerfile|LICENSE|\.(sqlite|sdb|s3db|db|yaml|yml))$">
    <IfVersion >= 2.4>
        Require all denied
    </IfVersion>
    <IfVersion < 2.4>
        Deny from all
    </IfVersion>
</FilesMatch>

# Disable directory listings
Options -Indexes

# ----------------------------------------------------------------------
# Rewrite Engine
# ----------------------------------------------------------------------

# Requires mod_rewrite to be enabled
<IfModule mod_rewrite.c>

    # Disable implicit filename pattern match
    Options -MultiViews

    # Turn on URL rewriting
    RewriteEngine On

    # Installation directory (web root)
    # RewriteBase /

    # Installation directory (subfolder)
    # RewriteBase /cockpit/

    # Deny access to files and directories whose names begin with a period
    RewriteRule "/\.|^\.(?!well-known/)" - [F]

    # Allow any files or directories that exist to be displayed directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite all other URLs to index.php
    RewriteRule .* index.php [L]

</IfModule>

# ----------------------------------------------------------------------
# Charset encoding
# ----------------------------------------------------------------------

# Serve all `text/html` and `text/plain` file with UTF-8 charset
AddDefaultCharset utf-8

# ----------------------------------------------------------------------
# MIME Types
# ----------------------------------------------------------------------

# Requires mod_mime to be enabled
<IfModule mod_mime.c>

    # Serve resources with the proper media types (MIME types)

    # Javascript
    AddType application/javascript          js jsonp tag
    AddType application/json                json

    # Audio
    AddType audio/ogg                       oga ogg
    AddType audio/mp4                       m4a f4a f4b

    # Video
    AddType video/ogg                       ogv
    AddType video/mp4                       mp4 m4v f4v f4p
    AddType video/webm                      webm
    AddType video/x-flv                     flv

    # SVG
    #   Required for svg webfonts on iPad
    #   twitter.com/FontSquirrel/status/14855840545
    AddType     image/svg+xml               svg svgz
    AddEncoding gzip                        svgz

    # Webfonts
    AddType application/vnd.ms-fontobject   eot
    AddType application/x-font-ttf          ttf ttc
    AddType font/opentype                   otf
    AddType application/x-font-woff         woff

    # Assorted types
    AddType image/x-icon                    ico
    AddType image/webp                      webp
    AddType text/cache-manifest             appcache manifest
    AddType text/x-component                htc
    AddType application/xml                 rss atom xml rdf
    AddType text/x-vcard                    vcf
    AddType application/x-shockwave-flash   swf

</IfModule>

# ----------------------------------------------------------------------
# Cache Expiration
# ----------------------------------------------------------------------

# Requires mod_expires to be enabled
<IfModule mod_expires.c>

    # Serve resources with a far-future expiration date.

    ExpiresActive On

    ExpiresByType application/pdf               "access plus 1 year"
    ExpiresByType application/x-shockwave-flash "access plus 1 year"
    ExpiresByType image/bmp                     "access plus 1 year"
    ExpiresByType image/gif                     "access plus 1 year"
    ExpiresByType image/jpeg                    "access plus 1 year"
    ExpiresByType image/png                     "access plus 1 year"
    ExpiresByType image/svg+xml                 "access plus 1 year"
    ExpiresByType image/tiff                    "access plus 1 year"
    ExpiresByType image/vnd.microsoft.icon      "access plus 1 year"
    ExpiresByType image/x-icon                  "access plus 1 year"
    ExpiresByType text/css                      "access plus 1 year"
    ExpiresByType video/x-flv                   "access plus 1 year"
    ExpiresByType application/vnd.bw-fontobject "access plus 1 year"
    ExpiresByType application/x-font-ttf        "access plus 1 year"
    ExpiresByType application/x-font-woff       "access plus 1 year"
    ExpiresByType application/font-woff         "access plus 1 year"
    ExpiresByType font/opentype                 "access plus 1 year"
    ExpiresByType image/webp                    "access plus 1 year"

    # The following MIME types are in the process of registration
    ExpiresByType application/xslt+xml          "access plus 1 year"
    ExpiresByType image/svg+xml                 "access plus 1 year"

    # The following MIME types are NOT registered
    ExpiresByType application/mathml+xml        "access plus 1 year"
    ExpiresByType application/rss+xml           "access plus 1 year"

    # JavaScript has various MIME types
    ExpiresByType application/x-javascript      "access plus 1 year"
    ExpiresByType application/javascript        "access plus 1 year"
    ExpiresByType text/ecmascript               "access plus 1 year"
    ExpiresByType text/javascript               "access plus 1 year"

</IfModule>

# ----------------------------------------------------------------------
# ETags
# ----------------------------------------------------------------------

# Remove ETags as resources are sent with far-future expires headers.
FileETag None

# Requires mod_headers to be enabled
<IfModule mod_headers.c>
    Header unset ETag
</IfModule>

# -------------------------------------------------------------------------
# Compression
# -------------------------------------------------------------------------

# Requires mod_expires to be enabled
<IfModule mod_deflate.c>

  # Force deflate for mangled headers developer.yahoo.com/blogs/ydn/posts/2010/12/pushing-beyond-gzipping/
  <IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
      SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
      RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
    </IfModule>
  </IfModule>

  # Compress all output labeled with one of the following MIME-types
  # (for Apache versions below 2.3.7, you don't need to enable `mod_filter`
  # and can remove the `<IfModule mod_filter.c>` and `</IfModule>` lines as
  # `AddOutputFilterByType` is still in the core directives)
  <IfModule mod_filter.c>
    AddOutputFilterByType DEFLATE application/atom+xml \
                                  application/javascript \
                                  application/json \
                                  application/rss+xml \
                                  application/vnd.ms-fontobject \
                                  application/x-font-ttf \
                                  application/xhtml+xml \
                                  application/xml \
                                  font/opentype \
                                  image/svg+xml \
                                  image/x-icon \
                                  text/css \
                                  text/html \
                                  text/plain \
                                  text/x-component \
                                  text/xml
  </IfModule>

</IfModule>
