<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->notPath('lib/Spyc.php')
    ->notPath('lib/Parsedown.php')
    ->notPath('lib/ParsedownExtra.php')
    ->notPath('lib/Lime/App.php')
;

$header = <<<EOF
This file is part of the Cockpit project.

(c) Artur Heinze - 🅰🅶🅴🅽🆃🅴🅹🅾, http://agentejo.com

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
EOF;

return PhpCsFixer\Config::create()
    ->setUsingCache(false)
    ->setRules([
        'header_comment' => ['header' => $header, 'separate' => 'bottom', 'commentType' => 'PHPDoc'],
    ])
    ->setFinder($finder)
;
