@import url(../modules/core/Cockpit/assets/css/uikit.cockpit.min.css);

*, *:before, *:after {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
}
body {
    padding-top: 100px;
    background: #eee;
}

h1 { font-size: 30px; }

#logo {
    margin-bottom: 40px;
    text-align:center;
}
.install-page {
    width: 450px;
    max-width: 95%;
    margin: 0 auto;
    background: #fff;
    padding: 40px;
    text-align: center;
    border-radius: 3px;
    opacity:0;
    -webkit-animation-delay:200ms;
    animation-delay:200ms;
}
.uk-button, .uk-panel-box, .uk-alert {
    border-radius: 3px;
}